input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form-section {
  align-items: center;
  display: flex;
  height: 721px;
  justify-content: space-around;
  margin: auto;
  width: 1124px;
}

form {
  border-radius: 10px;
  box-shadow: 0 3.893px 18.492px rgba(0, 0, 0, 0.25);
  padding: 20px;
  width: 500px;
}

button {
  background-color: #2fc18c;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  height: 40px;
  margin-right: -10px;
  padding: 8px 32px;
  width: 115px;
}

label {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px auto;
  width: 350px;
}

.label-on-top {
  display: flex;
  flex-flow: column nowrap;
}

.label-left {
  align-items: center;
  display: flex;
}

.input-type1 {
  background-color: white;
  border: none;
  border-bottom: 1px solid #29313d;
  font-size: 1.2rem;
  height: 37px;
  width: 365px;
}

.input-type2 {
  border: 1px solid #29313d;
  border-radius: 2px;
  font-size: 1.2rem;
  height: 37px;
  margin-left: 32px;
  width: 275px;
}

.input-textarea {
  border: none;
  border-bottom: 1px solid black;
  font-size: 1.2rem;
  height: 80px;
  width: 365px;
}

.input-image {
  margin-left: 23px;
}

.input-checkbox {
  margin-right: 8px;
}

.submit-container {
  display: flex;
  margin: auto;
  width: 360px;
}

form h2, .card-preview h2 {
  text-align: center;
}

.card-background {
  border-radius: 9.732px;
  box-shadow: 0 3.893px 18.492px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 558px;
  width: 366px;
}

.card-body {
  background: #036b52;
  border-radius: 9.732px;
  height: 530px;
  margin: auto;
  width: 338px;
}

.card-name {
  align-items: flex-end;
  background: #023031;
  border-radius: 9.732px 9.732px 0 0;
  color: white;
  display: flex;
  font-size: 27.251px;
  font-style: normal;
  font-weight: 700;
  height: 38.93px;
  justify-content: flex-end;
  margin: auto;
  margin-top: 16px;
  width: 308.53px;
}

.card-image {
  display: flex;
  height: 270.57px;
  margin: auto;
  width: 308.53px;
}

.card-description {
  height: 54px;
  margin: auto;
  text-align: center;
  width: 308.53px;
  word-wrap: break-word;
}

.card-attrs {
  align-items: center;
  background: white;
  border-radius: 0 0 9.732px 9.732px;
  display: flex;
  flex-direction: column;
  height: 132px;
  justify-content: space-around;
  margin: auto;
  width: 308.53px;
}

.card-attrs p {
  margin: 0;
}
